<%- include('../partials/header') %>
<main>
  <div style="text-align: center">
    <img
      src="<%= imagePath %>"
      alt="Profile Image"
      style="width: 350px; height: 350px; border-radius: 50%; object-fit: cover"
    />

    <h1>Adam</h1>
    <h2 style="color: gold;"">
      🥈
    </h2>
    <h2 style="color: silver;"">
      Season I Winrate Runnerup
    </h2>
    <h2>
      Lifetime Winrate: 52.83% 140-125 out of 116 drafts
    </h2>

    <br />

    <h2>Planeswalker Level V: Spellshaper</h2>
    <img
      src="<%= planeswalkerPath %>"
      alt="Planeswalker Image"
      style="width: 250px; height: 250px; border-radius: 50%; object-fit: cover"
    />
    <div class="progress-container">
        <div class="progress-text">
            46/180
        </div>
        <div id="my-progress-bar" class="progress-bar"></div>
    </div>
      
      
    <script>
        function updateProgress(percent) {
          const progressBar = document.getElementById("my-progress-bar");
          progressBar.style.width = percent + "%";
        }
      
        
        updateProgress(25.56);
    </script>
  </div>

  <div class="data-table-container">
    <div class="data-table">
      <h2>Past Seasons</h2>
      <table>
        <thead>
          <tr>
            <% if(tableData.length > 0) { %> <%
            Object.keys(tableData[0]).forEach(function(key) { %>
            <th><%= key %></th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% tableData.forEach(function(row) { %>
          <tr>
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="data-table-container">
    <div class="data-table">
      <h2>Format History</h2>
      <table>
        <thead>
          <tr>
            <% if(formatData.length > 0) { %> <%
            Object.keys(formatData[0]).forEach(function(key) { %>
            <th><%= key %></th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% formatData.forEach(function(row) { %>
          <tr>
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <div class="chart-container">
    <h2>Winrate History (Past 40 Drafts)</h2>
    <canvas id="line-chart"></canvas>
  </div>

  <script>
    const historyDataX = <%= JSON.stringify(historyDataX) %>;
    const historyDataY = <%= JSON.stringify(historyDataY) %>;

    function renderLineChart(labels, data) {
      const ctx = document.getElementById('line-chart').getContext('2d');
      new Chart(ctx, {
          type: 'line', // Specify the chart type
          data: {
            labels: labels, // X-axis labels (from JSON)
              datasets: [{
                label: 'Win Percentage', // Label for the data
                data: data, // Y-axis data points (from JSON)
                borderColor: 'rgba(75, 192, 192, 1)', // Line color
                backgroundColor: 'rgba(75, 192, 192, 0.2)', // Fill color under the line
                borderWidth: 2,
                fill: true, // Fills area under the line
            }]
          },
          options: {
            responsive: true,
            scales: {
              y: {
                  beginAtZero: true // Ensure the y-axis starts at zero
              }
            }
          }
      });
    }

    renderLineChart(historyDataX, historyDataY);
  </script>
  
</main>
<%- include('../partials/footer') %>