<%- include('../partials/header') %>
<main>
  <h1>Season 12 Stats</h1>
  <div class="content"></div>
  <p>
    (7/3/25 - 9/25/25) 69 drafts, Winrate Champion Tony and Gauntlet Champion
    Clayton
  </p>
  <div class="data-table-container">
    <div class="data-table">
      <h2></h2>
      <div class="data-table"></div>
      <table>
        <thead>
          <tr>
            <% if(tableData.length > 0) { %> <%
            Object.keys(tableData[0]).forEach(function(key) { %>
            <th><%= key %></th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% tableData.forEach(function(row) { %>
          <tr>
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <div class="data-table"></div>
    </div>
  </div>

  <div class="data-table-container">
    <div class="data-table">
      <h2>Gauntlet Rankings</h2>
      <table>
        <thead>
          <tr>
            <% if(gauntletData.length > 0) { %> <%
            Object.keys(gauntletData[0]).forEach(function(key) { %>
            <th><%= key %></th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% gauntletData.forEach(function(row) { %>
          <tr>
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
