<%- include('partials/header') %>
<main>
  <h1>Adam Cube Stats</h1>
  <div class="content">
    <!-- <p>Season 8 (7/2/24 - 9/26/24)</p> -->
  </div>
  <div class="data-table-container">
    <div class="data-table">
      <h2>
        ELO and Winrates (Min 2 drafts). Last Updated 11/14/24. 12 Total Drafts
        Recorded
      </h2>
      <table>
        <thead>
          <tr>
            <% if(tableData.length > 0) { %> <%
            Object.keys(tableData[0]).forEach(function(key) { %>
            <th><%= key %></th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% tableData.forEach(function(row) { %>
          <tr>
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="data-table-container">
    <div class="data-table">
      <h2>Color Rankings</h2>
      <table>
        <thead>
          <tr>
            <% if(colorData.length > 0) { %> <%
            Object.keys(colorData[0]).forEach(function(key) { %>
            <th><%= key %></th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% colorData.forEach(function(row) { %>
          <tr>
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="data-table-container">
    <div class="data-table">
      <h2>Archetype Rankings</h2>
      <table>
        <thead>
          <tr>
            <% if(archetypeData.length > 0) { %> <%
            Object.keys(archetypeData[0]).forEach(function(key) { %>
            <th><%= key %></th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% archetypeData.forEach(function(row) { %>
          <tr>
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
