<%- include('partials/header') %>
<main>
  <h1>SLGS Stats</h1>

  <h3>
    Lookup Drafter Profile (Just first name or first name last initial with no
    space in between)
  </h3>
  <form action="/search" method="GET">
    <input
      type="text"
      name="query"
      placeholder="Search for a drafter"
      required
    />
    <button type="submit">Search</button>
  </form>

  <div class="content">
    <h2>Season XIV (12/23/25 - 3/26/26)</h2>
  </div>
  <div class="data-table-container">
    <div class="data-table">
      <p>
        36 Drafts in, last updated 2/7/26
        <!-- <br />

        Congrats to our Winrate and Gauntlet Champion Erik Cearns!!
        <br />
        Season XIV will last from 12/28/25 to 3/26/26. Stats will be updated
        once there is enough data (probably after the 1/10 drafts) -->
      </p>
      <table id="sortableTable">
        <thead>
          <tr>
            <% if(tableData.length > 0) { %> <%
            Object.keys(tableData[0]).forEach(function(key) { %>
            <th class="sortable" data-key="<%= key %>">
              <%= key %>
              <span class="sort-indicator"></span>
            </th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% tableData.forEach(function(row) { %>
          <tr style="<%= row.total_drafts >= 15 ? 'font-weight:bold;' : '' %>">
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
