<%- include('partials/header') %>
<main>
  <h1>SLGS Stats</h1>

  <h3>
    Lookup Drafter Profile (Just first name or first name first initial with no
    space in between)
  </h3>
  <form action="/search" method="GET">
    <input
      type="text"
      name="query"
      placeholder="Search for a drafter"
      required
    />
    <button type="submit">Search</button>
  </form>

  <div class="content">
    <h2>Season XI (3/20/25 - 6/26/25)</h2>
  </div>
  <div class="data-table-container">
    <div class="data-table">
      <p>29 Drafts in, last updated 5/15/25</p>
      <table id="sortableTable">
        <thead>
          <tr>
            <% if(tableData.length > 0) { %> <%
            Object.keys(tableData[0]).forEach(function(key) { %>
            <th class="sortable" data-key="<%= key %>">
              <%= key %>
              <span class="sort-indicator"></span>
            </th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% tableData.forEach(function(row) { %>
          <tr>
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="data-table-container">
    <div class="data-table">
      <h2>Gauntlet Rankings</h2>
      <table>
        <thead>
          <tr>
            <% if(gauntletData.length > 0) { %> <%
            Object.keys(gauntletData[0]).forEach(function(key) { %>
            <th><%= key %></th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% gauntletData.forEach(function(row) { %>
          <tr>
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
