<%- include('partials/header') %>
<main>
  <h1>Lifetime Stats</h1>
  <div class="content">
    <!-- <p>Season 8 (7/2/24 - 9/26/24)</p> -->
  </div>
  <div class="data-table-container">
    <div class="data-table">
      <h2>
        ELO and Winrates (Min 20 drafts). Last Updated 6/19/26 (End of Season
        XV). Updated at end of season.
      </h2>
      <div class="data-table"></div>
      <table id="sortableTable">
        <thead>
          <tr>
            <% if(tableData.length > 0) { %> <%
            Object.keys(tableData[0]).forEach(function(key) { %>
            <th class="sortable" data-key="<%= key %>">
              <%= key %>
              <span class="sort-indicator"></span>
            </th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% tableData.forEach(function(row) { %>
          <tr>
            <%
            const linkedPlayers = [
              "adam",
              "alan",
              "alberto",
              "ana",
              "andrew d",
              "aaron",
              "chris a",
              "clayton",
              "collin",
              "david k",
              "david o",
              "eric k",
              "evan s",
              "frank",
              "jacob",
              "john k",
              "juwan",
              "kevin s",
              "luca",
              "luke",
              "luis",
              "marco",
              "matt y",
              "mike",
              "nathan",
              "noah",
              "nick c",
              "nick d",
              "patrick h",
              "simon",
              "sonny",
              "stephen",
              "thana",
              "todd",
              "tony",
              "travis",
              "walski",
              "zane",
            ];
            %>

            <% Object.keys(row).forEach(function(key, index) { %>
              <% if (key === "name") { %>
                <td>
                  <% if (linkedPlayers.includes(row[key].toLowerCase())) { %>
                    <a href="player/<%= row[key].toString().replace(/\s+/g, '') %>">
                      <%= row[key] %>
                    </a>
                  <% } else { %>
                    <%= row[key] %>
                  <% } %>
                </td>
                <% } else if (key === "rank") { %>
                <td>
                  <img
                    src="<%= row[key] %>"
                    alt="avatar"
                    style="
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      object-fit: cover;
                    "
                  />
                </td>
                <% } else { %>
                <td><%= row[key] %></td>
              <% } %>
            <% }) %>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <div class="data-table"></div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
