<%- include('partials/header') %>
<main>
  <h1>Lifetime Stats</h1>
  <div class="content">
    <!-- <p>Season 8 (7/2/24 - 9/26/24)</p> -->
  </div>
  <div class="data-table-container">
    <div class="data-table">
      <h2>
        ELO and Winrates (Min 5 drafts). Last Updated 9/25/25 (End of Season
        XII). Updated at end of season.
      </h2>
      <div class="data-table"></div>
      <table id="sortableTable">
        <thead>
          <tr>
            <% if(tableData.length > 0) { %> <%
            Object.keys(tableData[0]).forEach(function(key) { %>
            <th class="sortable" data-key="<%= key %>">
              <%= key %>
              <span class="sort-indicator"></span>
            </th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% tableData.forEach(function(row) { %>
          <tr>
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <div class="data-table"></div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
